main {  
  box-sizing: border-box;
  width: 1060px;
  margin: 0 auto;
  background-color: #F2F2F2;

  border: 2px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 15px;
}

main > .title {
  border-bottom: 2px solid #BDBDBD;
  text-align: center;

  width: 650px;

  margin: 0 auto;
  padding: 37px 0;

  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

main > ul.tab-menu {
  display: flex;
  justify-content: space-between; 

  width: 372px; 

  margin: 28px auto;
}

main > ul.tab-menu li.menu-item {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

main > ul.tab-menu li.menu-item:first-child {
  font-weight: 900;
}

main > .movie-container {
  box-sizing: border-box;
  
  width: 1003px;
  margin: 0 auto;

  border: 2px solid #BDBDBD;
  border-radius: 15px;

  background-color: white;
}